@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

.category_title {
    text-indent: -50px;
    font-weight: bold;
    font-size: calc(38px + 5 * ((100vw - 280px) / 680));
}


.acqua-back {
    background-color: #49967c;
}

.pink-back {
    background-color: #b140a2;
}

.gray-back{
    background-color: #131313;
}

a{
    text-decoration: none;
    color: black;
}

.titre_page {
    background-color: #131313;
}

.titre_page > h1{
    color: #eee;
    font-size: calc(80px + 5 * ((100vw - 280px) / 680));
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 80px 0;
}

@media (max-width: 620px) {
    h1{
        font-size: calc(40px + 5 * ((100vw - 280px) / 680));
    } 
}